.wrapper{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	position: absolute;
	z-index: 1000;
	display: flex;
	justify-content: center;
	flex-direction:column;
	align-items:center;
}
.outer{
	width: 80%;
	background: #FFFFFF;
	border-radius: 0.1rem;
}
.progress {
  height: 30px;
  width: 0%;
  background-color: #79839C;
  box-shadow: inset 0 -0.02rem 0.02rem rgba(0, 0, 0, 0.4);
  border-radius: 0.1rem;
  display: block;
}
.num{
	position: absolute;
	left: 68%;
	top: 52%;
	font-size: 0.6rem;
	color: red;
	font-family: "微软雅黑";
}
/*.progress>span:nth-of-type(1) {
	display: inline-block;
	width: 1.5rem;
	height: 0.1rem;
	background-color: #79839C;
	box-shadow: inset 0 -0.02rem 0.02rem rgba(0, 0, 0, 0.4);
}
.progress>span:nth-of-type(2){
	display: inline-block;
    width: 1.5rem;
    height: 0.1rem;
    background-color: #B56170;
	box-shadow: inset 0 -0.02rem 0.02rem rgba(0, 0, 0, 0.4);
}
.progress>span:nth-of-type(3){
	display: inline-block;
    width: 1.5rem;
    height: 0.1rem;
    background-color: #E31B20;
	box-shadow: inset 0 -0.02rem 0.02rem rgba(0, 0, 0, 0.4);
}*/


.music{
	width: 0.7rem;
	height: 0.9rem;
	z-index: 8;
	position: absolute;
	right: 0.25rem;
	bottom: 4rem;
}
.music>img{
	width: 0.7rem;
	height: 0.9rem;
}
.demo{
    -webkit-animation:2s 0s linear infinite normal;
	-webkit-animation-name:rotate;
	-webkit-animation-fill-mode:forwards;
	-moz-animation:2s 0s linear infinite normal;
	-moz-animation-name:rotate;
	-moz-animation-fill-mode:forwards;
}
.page{
	overflow: hidden;
	background-size: cover;
	position: relative;
}
.page1{
	background: url(../img/pic4.png);
}
.page1>p{
	position: absolute;
}
.page1>p:nth-child(1){
	height: 0.6rem;
	width: 1.68rem;
	left:0.38rem;
	top: 0.46rem;
}
.page1>p:nth-child(1)>img{
	height: 0.6rem;
	width: 1.68rem;
}
.page1>p:nth-child(2){
	height: 6.58rem;
	width: 6.06rem;
	left:0.2rem;
	top: 0.35rem;
}
.page1>p:nth-child(2)>img{
	height: 6.58rem;
	width: 6.06rem;
}
.page1>p:nth-child(3){
	height: 6.58rem;
	width: 6.06rem;
	left:0.2rem;
	top: 0.38rem;
	z-index: 3;
}
.page1>p:nth-child(3)>img{
	height: 6.58rem;
	width: 6.06rem;
}
.page1>p:nth-child(4){
	height: 3.6rem;
	width: 3.6rem;
	left:1.3rem;
	top:1.8rem;
	overflow: hidden;
	-webkit-animation: rotate 2s 0s linear infinite normal;
}
.page1>p:nth-child(4)>img{
	height: 3.6rem;
	width: 3.6rem;
}
@keyframes  rotate{
    0%{
    	-webkit-transform: rotate(0deg);
    }
    
    100%{
    	-webkit-transform: rotate(360deg);
    }
}
.page1>p:nth-child(5){
	height: 6.58rem;
	width: 6.06rem;
	left:0.2rem;
	top: 0.38rem;
}
.page1>p:nth-child(5)>img{
	height: 6.58rem;
	width: 6.06rem;
}
.page1>p:nth-child(6){
	height: 6.58rem;
	width: 6.06rem;
	left:0.2rem;
	top: 0.38rem;
}
.page1>p:nth-child(6)>img{
	height: 6.58rem;
	width: 6.06rem;
}
.page1>p:nth-child(7){
	height: 5.25rem;
	width: 6.4rem;;
	bottom: 0;
}
.page1>p:nth-child(7)>img{
	height: 5.25rem;
	width: 6.4rem;
}
.topdir{
	height: 0.44rem;
	width: 0.52rem;
	bottom: 0.78rem;
	left: 2.94rem;
	position: absolute;
	-webkit-animation: upAnimate 0.8s 0s ease-in infinite normal;
	/*-webkit-animation-name:upAnimate;*/
}
.topdir>img{
	height: 0.44rem;
	width: 0.52rem;
}
@keyframes  upAnimate{
    0%{
    	bottom: 0.78rem;
    }
    
    100%{
    	bottom: 0.88rem;
    }
}
/*第二个页面*/
.page2{
	background: url(../img/twoback.png);
	background-size: 100% 100%;
}
.page2>p:nth-child(1){
	position: absolute;
	width: 3.5rem;
	height: 1.72rem;
	top: 2.06rem;
	/*left: 1.42rem;*/
	width: 100%;
	text-align: center;
}
.page2>p:nth-child(1)>img{
	width: 3.5rem;
	height: 1.72rem;
}
.page2>p:nth-child(2){
	position: absolute;
	width: 6.02rem;
	height:3.64rem;
	bottom: 1.55rem;
	left: 0.25rem;
	text-align: center;
}
.page2>p:nth-child(2)>img{
	width: 6.02rem;
	height: 3.64rem;
}
/*第三个页面*/
.page3{
	background: url(../img/twopic2.png);
	background-size: 100% 100%;
}
.page3>p{
	position: absolute;
}
.page3>p:nth-child(1){
	width: 2.33rem;
	height: 2.33rem;
	left: 0.35rem;
	top: 0.57rem;
}
.page3>p:nth-child(1)>img{
	width: 2.33rem;
	height: 2.33rem;
}
.page3>p:nth-child(2){
	width: 2.13rem;
	height: 2.13rem;
	left: 0.48rem;
	top: 0.72rem;
}
.page3>p:nth-child(2)>img{
	width: 2.13rem;
	height: 2.13rem;
}
.page3>p:nth-child(3){
	width: 2.13rem;
	height: 2.13rem;
	left: 0.48rem;
	top: 0.72rem;
}
.page3>p:nth-child(3)>img{
	width: 2.13rem;
	height: 2.13rem;
	-webkit-animation: rotate 2s 0s linear infinite normal;
}
.font{
	width: 2.65rem;
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.48rem;
	font-family: "微软雅黑";
	border-bottom: 1px solid black;
}
.page3>p:nth-child(4){
	left: 2.82rem;
	top: 1.2rem;
	z-index: 10;
}
.page3>p:nth-child(5){
	left: 1.7rem;
	top: 2.30rem;
	text-align: right;
	z-index: 10;
}
.page3>p:nth-child(6){
	left: 0.72rem;
	top: 3.26rem;
	text-align: right;
	z-index: 10;
}
.page3>p:nth-child(7){
	height: 9.53rem;
	width: 15.76rem;
	background: url(../img/bigcar.png);
	background-size: 100% 100%;
	left: -2.65rem;
	top: 3.4rem;
}
.page3>p:nth-child(7)>img{
	height: 4.52rem;
	width: 3.45rem;
	left: 2.6rem;
	top:4rem;
	position: absolute;
	display: none;
}
.page3>p:nth-child(8){
	height: 0.8rem;
	width: 0.78rem;
	left: 3.82rem;
	top:1.65rem;
	position: absolute;
	-webkit-animation: hand 1s 0s ease-in infinite normal;
}
.page3>p:nth-child(8)>img{
	height: 0.8rem;
	width: 0.78rem;
}
@keyframes  hand{
    0%{
    	left: 3.82rem;
		top:1.65rem;
    }
    
    100%{
    	left: 3.62rem;
		top:1.35rem;
    }
}
/*第四个页面*/
.page4{
	background: black;
}
.page4>p:nth-of-type(1){
	width: 6.4rem;
	height: 0.6rem;
	line-height: 0.6rem;
	color: white;
	font-size: 0.4rem;
	text-align: center;
	margin-top: 0.2rem;
}
#box{
	width: 6.4rem;
	height: 4.8rem;
	position: absolute;
	top: 1rem;
}
#box>img{
	display: none;
	width: 6.4rem;
	height: 4.8rem;
	left: 0;
	top: 0;
	position: absolute;
}
.page4>p:nth-of-type(2){
	position: absolute;
	width: 0.7rem;
	height: 0.73rem;
	left: 1.4rem;
	top: 5.5rem;
}
.page4>p:nth-of-type(2)>img{
	width: 0.7rem;
	height: 0.73rem;
}
.page4>p:nth-of-type(3){
	position: absolute;
	width: 1rem;
	height: 1rem;
	left: 2.7rem;
	top: 5.5rem;
}
.page4>p:nth-of-type(3)>img{
	width: 1rem;
	height: 1rem;
}
.page4>p:nth-of-type(4){
	position: absolute;
	width: 1rem;
	height: 1rem;
	left:4.4rem;
	top: 5.47rem;
}
.page4>p:nth-of-type(4)>img{
	width: 1rem;
	height: 1rem;
}

/*第五个页面*/
.page5{
	background: url(../img/threepic1.png);
	background-size: 100% 100%;
}
.page5>p{
	position: absolute;
}
.page5>p:nth-child(1){
	width: 3.65rem;
	height: 0.56rem;
	left: 0.5rem;
	top: 1.24rem;
	z-index: 2;
}
.page5>p:nth-child(1)>img{
	width: 3.65rem;
	height: 0.56rem;
}
.page5>p:nth-child(2){
	width: 6.40rem;
	height: 100%;
	top: -1.1rem;
}
.page5>p:nth-child(3){
	width: 5.39rem;
	height: 1.35rem;
	left: 0.5rem;
	top: 2.28rem;
	z-index: 2;
}
.page5>p:nth-child(3)>img{
	width: 5.39rem;
	height: 1.35rem;
}
.page5>p:nth-child(4){
	width: 6.4rem;
	height: 5.92rem;
	left: 0rem;
	bottom: 0rem;
}
.page5>p:nth-child(4)>img{
	width: 6.4rem;
	height: 5.92rem;
}
.page5>p:nth-child(5){
	width: 5.53rem;
	height: 3.25rem;
	top: 2.42rem;
	left: 0.52rem;
	display: none;
}
.page5>p:nth-child(5)>img{
	width: 5.53rem;
	height: 3.25rem;
}
.sunb{
	width: 6.2rem;
	height: 4.59rem;
	bottom: 0.62rem;
	display: none;
}
.sunb>img{
	width: 6.2rem;
	height: 4.59rem;
}
.sunc{
	width: 6.4rem;
	height: 3.62rem;
	top: 0.05rem;
	display: none;
}
.sunc>img{
	width: 6.4rem;
	height: 3.62rem;
}
.sund{
	width: 3.56rem;
	height: 4.89rem;
	bottom: 0.3rem;
	left: 0.92rem;
	display: none;
}
.sund>img{
	width: 3.56rem;
	height: 4.89rem;
}
.hand2{
	left:3.82rem;
	top: 1.65rem;
	width: 0.78rem;
	height: 0.8rem;
	-webkit-animation: hand 1s 0s ease-in infinite normal;
	z-index: 2;
}
.hand2>img{
	width: 0.78rem;
	height: 0.8rem;
}

/*第六个页面*/
.page6{
	background: url(../img/threepic1.png);
	background-size: 100% 100%;
}
.page6>p{
	position: absolute;
}
.page6>p:nth-child(1){
	width: 6.4rem;
	height: 5.92rem;
	left: 0rem;
	bottom: 0rem;
}
.page6>p:nth-child(1)>img{
	width: 6.4rem;
	height: 5.92rem;
}
.page6>p:nth-child(2){
	width: 2.05rem;
	height: 2.05rem;
	left: 2.16rem;
	top: 2.74rem;
	z-index: 2;
	-webkit-animation: rotate 2s 0s linear infinite normal;
}
.page6>p:nth-child(2)>img{
	width: 2.05rem;
	height: 2.05rem;
}
.page6>p:nth-child(3){
	width: 2.05rem;
	height: 2.05rem;
	font-size: 0.38rem;
	line-height: 2.05rem;
	text-align: center;
	font-family: "微软雅黑";
	left: 2.16rem;
	top: 2.74rem;
	z-index: 3;
	-webkit-animation: scale 1s 0s ease-in infinite normal;
}
@keyframes  scale{
    0%{
    	scale:(1);
    }
    
    100%{
    	scale:(1.5);
    }
}
.black{
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	opacity: 0.8;
}
/*第七个页面*/
.page7{
	background: black;
}
.page7>p:nth-of-type(1){
	position: absolute;
	width: 6.4rem;
	height: 8.54rem;
}
.page7>p:nth-of-type(1)>img{
	width: 6.4rem;
	height: 8.54rem;
}
.page7>p:nth-of-type(2){
	position: absolute;
	width: 4.47rem;
	height: 2.10rem;
	bottom: 0.58rem;
}
.page7>p:nth-of-type(2)>img{
	width: 4.47rem;
	height: 2.10rem;
}
audio{
	width: 300px;
	height: 32px;
}
.hand3{
	position: absolute;
	left: 2.32rem;
	bottom: 0.58rem;
	width: 0.78rem;
	height: 0.8rem;
	z-index: 2;
	-webkit-animation: hand3 1s 0s ease-in infinite normal;
}
.hand3>img{
	width: 0.78rem;
	height: 0.8rem;
}
@keyframes  hand3{
    0%{
    	left: 2.32rem;
		bottom: 0.58rem;
    }
    100%{
    	left: 1.82rem;
		bottom: 0.78rem;
    }
}

/*第八个页面*/
.page8{
	background: url(../img/sixpic1s.png);
	background-size: 100% 100%;
}
.page8>p:nth-child(1){
	width: 6.4rem;
	height: 4.35rem;
	position: absolute;
}
.page8>p:nth-child(1)>img{
	width: 6.4rem;
	height: 4.35rem;
}
.page8>p:nth-child(2){
	width: 5.58rem;
	height: 3.0rem;
	top: 4.35rem;
	position: absolute;
	z-index: 2;
}
.page8>p:nth-child(2)>img{
	width: 5.58rem;
	height: 3.0rem;
}
.page8>p:nth-child(3){
	width: 6.4rem;
	height: 3.7rem;
	top: 6.36rem;
	position: absolute;
}
.page8>p:nth-child(3)>img{
	width: 6.4rem;
	height: 3.7rem;
}
.page8>p:nth-child(4){
	width: 6.68rem;
	height: 7.36rem;
	position: absolute;
	z-index: 2;
}
.page8>p:nth-child(4)>img{
	width: 6.68rem;
	height: 7.36rem;
}
/*第九个页面*/
.page9{
	background: black;
}
.page9>p:nth-child(1),.page9>p:nth-child(2){
	width: 6.4rem;
	height: 3.78rem;
}
.page9>p:nth-child(1)>img,.page9>p:nth-child(2)>img{
	width: 6.4rem;
	height: 3.78rem;
}
.page9>p:nth-child(3){
	width: 6.4rem;
	height: 3.98rem;
}
.page9>p:nth-child(3)>img{
	width: 6.4rem;
	height: 3.98rem;
}

/*第十个页面*/
.page10{
	background: url(../img/eightbc.png);
	background-size: 100% 100%;
}
.page10>p:nth-of-type(1){
	width: 6.4rem;
	height: 0.48rem;
	font-size: 0.48rem;
	line-height: 0.48rem;
	text-align: center;
	font-family: "微软雅黑";
	position: absolute;
	top: 1.96rem;
}
form{
	width: 6.4rem;
	position: absolute;
	top: 2.82rem;
}
form>p{
	width: 4.4rem;
	height: 0.46rem;
	margin-top:0.2rem;
	margin-left: 1.08rem;
}
form>p>label{
	font-size: 0.24rem;
	font-family: "微软雅黑";
	margin-top: 0.11rem;
	padding: 0 1px;
}
form>p>input{
	height: 0.46rem;
	width: 3.44rem;
	border: 1px solid #a5aeb7;
	outline: none;
	background: #c7ddef;
	margin-left: 0.15rem;
	font-size: 0.24rem;
}
.btn{
	display: block;
	height: 0.56rem;
	width: 3.44rem;
	background: #ff6600;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 0.36rem;
	border: none;
	outline: none;
	margin-left: 1.73rem;
	margin-top: 0.38rem;
}
